<script>
  import InputNumber from "../../Components/InputNumber.svelte"
  import { push } from "svelte-spa-router"  
  import { invest } from "../../lib/InvestmentHelper"
  import { getProject } from "../../lib/ProjectHelper"
  import { onMount } from "svelte"
  import { ethers } from "ethers";

  
  let value = 0;
  let project;

  export let params = {};

  const handleProjectInvest = async () => {
    await invest(params.id, value);
    // push("/projects");
  }

  onMount(async () => {
    project = await getProject(params.id);
  });
</script>

<div class="container">
  {#if project}
  <h1>Investing on {project[0]}'s project</h1>
  <br />
  <div>
    <h3>title:</h3> {project[0]}
    <h3>White paper:</h3> {project[1]}
    <h3>State:</h3> {#if project[2] == 0} Ended {:else} Investing {/if}
    <h3>Owner:</h3> {project[3]}
    <h3>Invested value: </h3> {ethers.utils.formatUnits(project[4].toString(), 'ether')} Eth
    <h3>Current investment value: </h3> {ethers.utils.formatUnits(project[5].toString(), 'ether')} Eth
  </div>
  <div>
    <InputNumber
      bind:value
      config={{
        label: "Investment value in ETH",
        placeholder: "",
      }}
    />
  </div>
  <div>
    <button on:click={handleProjectInvest}>Invest</button>
  </div>
  {/if}
</div>
