<script>
    import { ethers } from "ethers";
    import { onMount } from "svelte";
    import Datatable from "../../Components/Datatable.svelte";
    import { getInvestorInvestments } from "../../lib/InvestmentHelper";
  import { getProject } from "../../lib/ProjectHelper";
  
    let investments;
    let databody;
    let dataHeader = [
      {
          header: "Project Name",
          field: "name"
      },
      {
          header: "white paper",
          field: "whitePaper"
      },
      {
          header: "Amount invested",
          field: "amount"
      },
      {
          header: "Owner address",
          field: "owner"
      },
    ]
  
    onMount(async () => {
      investments = await getInvestorInvestments();
      console.log(investments);
  
      let data = [];
  
      for (const investment of investments) {
        let projectId = investment[0].toString();
        let currentProject = await getProject(projectId)
        console.log(currentProject);
        let item = {
          name: currentProject[0],
          whitePaper: currentProject[1],
          amount: ethers.utils.formatUnits(investment[1].toString(), "ether") +" Eth",
          owner: currentProject[3]
        };
        data.push(item);
      }
      databody = data;
    });
  </script>
  
  <div class="container">
    <h1>Project Investment history</h1>
    <br />
    {#if investments}
      <div>
        <Datatable dataHeaders={dataHeader} dataBody={databody} />
      </div>
    {/if}
  </div>
  