<script>
  import { BigNumber, ethers } from "ethers";
  import { onMount } from "svelte";
  import { push } from "svelte-spa-router";
  import Datatable from "../../Components/Datatable.svelte";
  import { getProjectInvestment } from "../../lib/InvestmentHelper";
  import { getInvestor } from "../../lib/InvestorHelper";
  import { getProject } from "../../lib/ProjectHelper";

  let project;
  let investments;
  let databody;
  let dataHeader = [
    {
        header: "Investor Name",
        field: "name"
    },
    {
        header: "Investor Address",
        field: "address"
    },
    {
        header: "Amount invested",
        field: "amount"
    },
  ]

  export let params = {};

  onMount(async () => {
    project = await getProject(params.id);
    investments = await getProjectInvestment(params.id)
    let data = [];

    for (const investment of investments) {
      let investorId = investment[2].toString();
      let investor = await getInvestor(investorId)
      let item = {
        name: investor[0],
        address: investor[1],
        amount: ethers.utils.formatUnits(investment[1].toString(), "ether")+" Eth"
      };
      data.push(item);
    }
    databody = data;
  });
</script>

<div id="content" class="container">
  <h1>Project Investment history</h1>
  <br />
  {#if project}
    <div>
      <h3>title:</h3>
      {project[0]}
      <h3>White paper:</h3>
      {project[1]}
      <h3>State:</h3>
      {#if project[2] == 0} Investement ended {:else} Investing {/if}
      <h3>Owner:</h3>
      {project[3]}
      <h3>Invested value:</h3>
      {ethers.utils.formatUnits(project[4].toString(), "ether")} Eth
      <h3>Current investment value:</h3>
      {ethers.utils.formatUnits(project[5].toString(), "ether")} Eth <br>
      <button
        on:click={() => {
          push(`/projects/${params.id}/invest`);
        }}>Invest on this Project</button
      >
      <button
        on:click={() => {
          push(`/projects/${params.id}/update`);
        }}>Update</button
      >
    </div>
    <div>
      <Datatable dataHeaders={dataHeader} dataBody={databody} />
    </div>
  {/if}
</div>


<style>
  #content{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
</style>