<script>
  let dataHeaders = [];
  let dataBody = [];

  export {dataHeaders, dataBody}
</script>

<div class='datatable_actions'>
    <div class='datatable_search'></div>
    <div class='datatable_actions_buttons'></div>
</div>
<div class='datatable'>
    <div class='datatable_header'>
      {#each dataHeaders as item}
      <div class="datatable_cell">{item.header}</div>
      {/each}
    </div>
    <div class='datatable_body'>
      {#each dataBody as item}
      <div class="datatable_row">
        {#each dataHeaders as cell}
        <div class="datatable_cell">{@html item[cell.field]}</div>
        {/each}
      </div>
      {/each}
    </div>
    <div class='datatable_footer'>

    </div>
</div>

<style>
    
/* datatable */
.datatable{
  font-weight: normal;
  font-size: 1em;
  display: table;
  width: 100%;
}
/* data table actions */
.datatable_actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 2rem;
  padding: 1rem 0;
}
/* .datatable_actions_button{
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: .5rem;
  border-radius: .5rem;
  color: white;
}
.datatable_actions_button:hover{
  background-color: rgba(255, 255, 255, 0.3);
} */
/* .datatable_search{
  flex: 1;
} */
.datatable_actions_buttons{
  flex: 1;
}
.datatable_header{
  display: table-header-group;
}
.datatable_body{
  display: table-row-group;
}
.datatable_row{
  display: table-row;
  width: 1%;
}
.datatable_cell{
  display: table-cell;
  padding: .5rem;
  width: 1%;
}
.datatable_header .datatable_cell{
  background-color: rgba(255, 255, 255, 0.3);
}
.datatable_row .datatable_cell{
  background-color: rgba(0, 0, 0, 0.3);
}
.datatable_cell:first-child{
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
.datatable_cell:last-child{
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}


/* pagination */
/* .datatable_pagination{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;
  padding: .5rem;
  border-radius: .5rem;
}
.datatable_pagination_button{
  padding: .5rem;
  cursor: pointer;
  border-radius: .5rem;
  border: 1px solid white;
  margin: 0 .1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
.datatable_pagination_button:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.datatable_pagination_button.active{
  background-color: rgba(255, 255, 255, 0.3);
} */
</style>