<script>
    let config = {
        label: "",
        placeholder: ""
    }
    let value = ""

    export {config, value}
</script>
<div class='form_field'>
    <div class='form_label'>{config.label}</div>
    <input bind:value={value} class='form_input' type="text" placeholder={config.placeholder}/>
</div>