<script>
  import {link} from 'svelte-spa-router'

  let connectButton = {
    text: "Connect wallet",
    click: ()=>console.log("clicked")
  };
  let account = "No wallet connected"

  export {connectButton, account}
</script>


<nav class="navbar">
    <div class="navbar_left">
        <div class="navbar_title">Collector</div>
        <p>{account}</p>
    </div>
    <div class="navbar_right">
        <a class="navbar_link" href="/" use:link>
            <div class="navbar_item">Home</div>
        </a>
        <a class="navbar_link" href="/projects" use:link>
            <div class="navbar_item">projects</div>
        </a>
        <a class="navbar_link" href="/investors" use:link>
            <div class="navbar_item">Investors</div>
        </a>
        <a class="navbar_link" href="/my-investments" use:link>
            <div class="navbar_item">My investments history</div>
        </a>
        <button class="navbar_link" on:click={connectButton.click}>{connectButton.text}</button>
    </div>
</nav>

<style>
    
/* navbar start */
.navbar{
  display: flex;
  flex-direction: row;
  padding: .5rem 4rem;
  width: 100vw;
  align-items: center;
}
.navbar_left{
  display: flex;
  flex: 1;
  align-items: center;
}
.navbar_right{
  display: flex;
  align-items: center;
}
.navbar_title{
  font-size: 1.5em;
  font-weight: 600;
  align-items: center;
}
.navbar_search_input{
  width: 100%;
}
.navbar_link{
  margin: 0 1rem;
  color: white;
}
.navbar_item{
  margin: 1;
}
/* navbar end */
</style>