<script>
    import Datatable from "../Components/Datatable.svelte";


</script>

<div class="container">
    <h1>List of projects</h1><br>
    <div>
        <button>Add project</button>
    </div>
    <!-- <Datatable /> -->
</div>