<script>
  import { push } from "svelte-spa-router";
    import FormInput from "../../Components/Input.svelte";
  import { createProject } from "../../lib/ProjectHelper";

    let projectName = "";
    let projectWhitePaper = "";
    let projectOwner = "";

    const handleProjectAdd = async()=>{
        await createProject(projectName, projectWhitePaper, projectOwner);
        push('/projects');
    }

</script>
<div class="container">
    <h1>Add a project</h1><br>
    <div>
        <FormInput bind:value={projectName} 
        config = {{
            label: "Project name",
            placeholder: "Project's name"
        }} />
    </div>
    <div>
        <FormInput bind:value={projectWhitePaper} 
        config = {{
            label: "Project white paper url",
            placeholder: "https://example-white-paper.com"
        }} />
    </div>
    <div>
        <FormInput bind:value={projectOwner} 
        config = {{
            label: "Project owner address",
            placeholder: "0xe2d45dg4fd5f5f52f5fgh6fd6"
        }} />
    </div>
    <div>
        <button on:click={handleProjectAdd}>Add project</button>
    </div>
</div>