<script>
  import { ethers } from "ethers";
  import { onMount } from "svelte";
  import { push } from "svelte-spa-router";
  import Datatable from "../../Components/Datatable.svelte"
  import { getProjects } from "../../lib/ProjectHelper";
  
  let dataHeaders = [
    {
        header: "Name",
        field: "name"
    },
    {
        header: "White paper",
        field: "whitePaper"
    },
    {
        header: "state",
        field: "state"
    },
    {
        header: "Invested value",
        field: "investedValue"
    },
    {
        header: "Actions",
        field: "action",
    },
  ];
  let databody = [];

    onMount(async()=>{
        let projects = await getProjects();
        let data = [];
        let i=0;

        for (const project of projects) {
            let item = {
                name: project[0],
                whitePaper: project[1],
                state: project[2] == 1 ? "Investing" : "Investement ended",
                owner: project[3],
                investedValue: ethers.utils.formatUnits(project[4].toString(), "ether") + " ETh",
                currentInvestmentValue: ethers.utils.formatUnits(project[5].toString(), "ether") + " ETh",
                action: `<a class="btn" href="#/projects/${i+1}">Details<a/>`
            }
            data.push(item)
            i++;
        }
        databody = data;
    })
</script>

<div class="container">
    <h1>List of projects</h1><br>
    <div>
        <button on:click={()=>push('/projects/create')}>Add project</button>
    </div>
    <Datatable dataHeaders={dataHeaders} dataBody={databody} />
</div>