<script>
  import { BigNumber, ethers } from "ethers";
  import { onMount } from "svelte";
  import { push } from "svelte-spa-router";
  import { getProjectInvestment } from "../../lib/InvestmentHelper";
  import { getProject, withdrawFunds } from "../../lib/ProjectHelper";

  let project;

  export let params = {};

  const handleWithdraw = async()=>{
    await withdrawFunds(params.id);
  }

  onMount(async () => {
    project = await getProject(params.id);
  });
</script>
<div class="container">
  <h1>Project details</h1>
  <br />
  {#if project}
  <div>
    <h3>title:</h3> {project[0]}
    <h3>White paper:</h3> {project[1]}
    <h3>State:</h3> {#if project[2] == 0} Investement ended {:else} Investing {/if}
    <h3>Owner:</h3> {project[3]}
    <h3>Invested value: </h3> {ethers.utils.formatUnits(project[4].toString(), 'ether')} Eth
    <h3>Current investment value: </h3> {ethers.utils.formatUnits(project[5].toString(), 'ether')} Eth
  </div>
  <button on:click={()=>{push(`/projects/${params.id}/invest`)}}>Invest on this Project</button>
  <button on:click={()=>{push(`/projects/${params.id}/update`)}}>Update</button>
  <button on:click={()=>{push(`/projects/${params.id}/investments`)}}>get investments history</button>
  <button on:click={()=>{handleWithdraw()}}>withdraw Funds</button>
  {/if}
</div>
