<script>
    import { onMount } from "svelte";
    import { push } from "svelte-spa-router";
    import { getProject, updateProjectState } from "../../lib/ProjectHelper";
  
    let project;
    let state;
  
    export let params = {};

    const handleProjectUpdate = async()=>{
        let transaction = await updateProjectState(params.id, state);
        push("/projects")
    }
  
    onMount(async () => {
      project = await getProject(params.id);
    });
  </script>
  <div class="container">
    <h1>Update project status</h1>
    <br />
    {#if project}
    <div>
      <h3>title:</h3> {project[0]}
      <h3>White paper:</h3> {project[1]}
      <h3>State:</h3> {#if project[2] == 0} Investement ended {:else} Investing {/if}
      <h3>Owner:</h3> {project[3]}
      <h3>Current investment value: </h3> {project[4]} Eth
      <h3>Invested value: </h3> {project[5]} Eth
    </div><br>
    <h3>Update form</h3><br>
    <div>
        <select style="width: 100%;" bind:value={state} class="form_input">
            <option class="form_input" value="1">Investing</option>
            <option class="form_input" value="0">Investement ended</option>
        </select>
    </div><br>
    <button on:click={handleProjectUpdate}>Save</button>
    {/if}
  </div>
  