<script>
  import { push } from "svelte-spa-router";
  import FormInput from "../../Components/Input.svelte";
  import { createInvestor } from "../../lib/InvestorHelper";

  let name = "";
  let address = "";

  const handleInvestorAdd = async () => {
    await createInvestor(name, address);
    push("/investors");
  };
</script>

<div class="container">
  <h1>Add an investor</h1>
  <br />
  <div>
    <FormInput
      bind:value={name}
      config={{
        label: "Investor name",
        placeholder: "Investor's name",
      }}
    />
  </div>
  <div>
    <FormInput
      bind:value={address}
      config={{
        label: "Investor address",
        placeholder: "0xe2d45dg4fd5f5f52f5fgh6fd6",
      }}
    />
  </div>
  <div>
    <button on:click={handleInvestorAdd}>Add investor</button>
  </div>
</div>
