<script>
  import { onMount } from "svelte";
  import { push } from "svelte-spa-router";
  import Datatable from "../../Components/Datatable.svelte";
  import { getInvestors } from "../../lib/InvestorHelper";

  let dataHeaders = [
    {
      header: "Name",
      field: "name",
    },
    {
      header: "Address",
      field: "investor",
    },
  ];
  let databody = [];

  onMount(async () => {
    let projects = await getInvestors();
    let data = [];

    for (const project of projects) {
      let item = {
        name: project[0],
        investor: project[1],
      };
      data.push(item);
    }

    databody = data;
  });
</script>

<div class="container">
  <h1>List of Investorts</h1>
  <br />
  <div>
    <button on:click={() => push("/investors/create")}>Add Investor</button>
  </div>
  <Datatable {dataHeaders} dataBody={databody} />
</div>
