<script>
  import Router from 'svelte-spa-router'
  import {routes} from './routes'
  import Navbar from './Components/Navbar.svelte';
  import { onMount } from 'svelte';
    import { isMetaMaskInstalled } from './lib/MetamaskHelper';

  let connectButton = {
    text: "connect Wallet",
    click: ()=>null
  }
  let account;

  const MetaMaskClientCheck = () => {
    //Now we check to see if MetaMask is installed
    // console.log(isMetaMaskInstalled());
    if (!isMetaMaskInstalled()) {
      alert("please install metamask");
    } else {
      //If it is installed we change our button text
      connectButton = {
        text: "connect Metamask",
        click: connectMetamask
      }
    }
  };

  const connectMetamask = async()=>{
    try {
      // Will open the MetaMask UI
      // get chain id
      // @ts-ignore
      const chainId = await window.ethereum.request({method: 'eth_chainId'})
      if(chainId == '0x5'){
        // switch network to goerli
      // @ts-ignore
        await window.ethereum.request({
          method: 'wallet_switchEthereumChain',
          params: [{chainId: '0x5'}],
        })
      }
      // 
      // You should disable this button while the request is pending!
      // @ts-ignore
      let accounts = await ethereum.request({ method: 'eth_requestAccounts' });
      if(accounts && accounts[0]){
        account = accounts[0];
        connectButton = {
          text: "Metamask Connected",
          click: connectMetamask
        }
      }
    } catch (error) {
      console.error(error);
    }
  }
	onMount(async() => {
    MetaMaskClientCheck();
    // if(!account){
    //   // @ts-ignore
    //   let accounts = await ethereum.request({ method: 'eth_requestAccounts' })
    //   account = accounts[0]
    // }
	});

  // @ts-ignore
  ethereum.on('accountsChanged', function (accounts) {
    // Time to reload your interface with accounts[0]!
    window.location.reload()
  });
</script>

<main class="wrapper">
  <Navbar bind:account={account} connectButton={connectButton} />
  <Router {routes} />
  <footer style="margin-top: 2rem;" class="container">
    Made with by Tsafack Fritz tsafack07albin@gmail.com <a class="btn" href="https://tsafack-fritz.netlify.app">my portfolio</a> Dschang, Cameroon (+237) 698406818
  </footer>
</main>

<style>
</style>
