:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
}

button,.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, .btn:hover {
  border-color: #646cff;
}
button:focus, .btn:focus, .btn:focus-visible,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.wrapper{
  background: linear-gradient(#8099E9, #E99DCB);
  min-height: 100vh;
}
.about{
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}
.about_image{
  height: 25rem;
  width: auto;
}
.container{
  padding: 0 4rem;
  color: white;
}
.nft_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  justify-items: center;
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, .5);
}
.nft_form{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
}
.form_upload{
  justify-items: center;
}
.form_upload>span{
  color: azure;
  font-size: 1.5rem;
}
.form_field{
  width: 100%;
  outline: none;
  border: 1px solid #8099E9;
  padding: .2rem;
  font-size: 1em;
  border-radius: .3rem;
  margin-bottom: .5rem;
}
.nft_detail{
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-gap: 1.5rem;
}
.nft_detail_image{
  height: 200px;
  width: auto;
}

.form_field{
  padding: .5rem .5rem;
  display: flex;
  flex-direction: column;
}
.form_label{
  margin-bottom: .5rem;
}
.form_input{
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: .2rem;
  font-size: 1em;
  padding: .3rem;
  color: white;
}
.form_input:focus{
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
}
.form_input::placeholder{
  color: rgb(190, 188, 188);
}
.form_button{
  border: 1px solid white;
  border-radius: .2rem;
  background-color: #082A3A;
  padding: .3rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
.form_button:hover{
  background: rgba(255, 255, 255, 0.3);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
